body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: left;
}

i{
    position: absolute;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
}

.content img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1.5px solid gray;
    border-radius: 6px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

.not-found {
    color: #ff0000;
}

.button {
    width: 90px;
    height: 35px;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    left: 1rem;
    margin-bottom: 1rem;
    background-color: #7d2ea8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}