.card{
    background-color: red;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 13px;
}

.edit {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.form-group {
    margin-bottom: 1rem;
}
.profile-img-wrapper {
    position: relative;
    text-align: center;
    margin-top: 3rem;
}
.profile-img-wrapper img {
    width: 150px;
    height: auto;
}
.profile-img-wrapper input[type="file"] {
    display: none;
}
.profile-img-wrapper label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}